* {
    box-sizing: border-box;
}

body,
.btn {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
    text-align: center;
}

p {
    text-align: center;
}

.row {
    margin: 8px -16px;
}

.row,
.row>.column {
    padding: 8px;
}

.column {
    float: left;
    width: 33.33%;
    display: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.content img:hover {
    opacity: 0.7;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

#myBtnContainer {
    text-align: center;
    padding-right: 20px;
}


#lightboxOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#lightboxImage {
    max-width: 80%;
    max-height: 80%;
    margin: 20px;
}

#closeLightbox {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    z-index: 3;
}

@media (max-width: 768px) {
    .column {
        width: 100%;
        display: block;
    }

    #myBtnContainer {
        text-align: center;
    }

    .btn {
        padding: 10px;
        margin: 5px;
        font-size: 14px;
    }

    h1,
    h2,
    p {
        text-align: center;
        font-size: 16px;
    }

    .content img {
        height: auto;
    }
}